.Rhistory
.RData
mv-vis.html
mv-vis_plain.html
.Rproj.user
rsconnect/documents/mv-vis.Rmd/shinyapps.io/vis-uni-bamberg/mv-vis.dcf

# Observable Framework
d3-tutorial/node_modules/
d3-tutorial/dist/
d3-tutorial/src/.observablehq/cache/
